#odkaz {
    padding-left: 10px;
}
.btn-group{
    margin-bottom: 15px;
}

.vyber{
    border-radius: 10px;
    border: 2px solid grey;
    margin-right: 10px;
}

/* Dropdown Button */
.dropbtn {
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: transparent;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 250px;
    z-index: -1;

}

/* Links inside the dropdown */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: black;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropbtn:hover {background-color: yellow; color: black;}

.menu-block{
    display: inline-block;
    border: 2px solid lightgrey;
    margin: 2px;
}

.menu-obrazek{
    width: 90%;
}

.body{
    margin: 0;
    background-color: white;
}
.my-container {

}

.center{
    float: right;
}
.navbar{
    text-align: center;
    background-color: black;
}
.navbar1{
    margin-bottom: 55px;

}
.my-row {

}
.my-row-icons{

}
.category-icons{
    width: 100%;
    min-width: 350px;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.my-row1{
    margin-bottom: -20px;
}
.row-button{
    text-align: right;
    margin-right: 15px;
}
.md-form1{
    width: 510px;
    position: absolute;
}
.logo {
    width: calc(10vw + 3em);
}
.footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left {
    text-align: left;
    margin: 0 auto;
}

.right {
    text-align: right;
    margin: 0 auto;
}

.left_footer{
    float: left;
}

.right_footer{
    float: right;
}

.text {
    color: white;
    padding-top: 10px;
    font-family: Calibri;
}
.text-gdpr{
    font-size: 15px;
    font-family: Calibri;
}
.seda{
    font-family: Calibri;
    color: #535E5D;
}
.footer_text{
    font-family: Calibri;
    font-size: 18px;
    color: white;
    margin-bottom: -5px;
}
.footer_nadpis{
    float: contour;
    color: white;
}
.nadpis{
    font-size: 25px;
    font-weight: bold;
}
.h2{
    color: black;
    font-family: Calibri;
    font-weight: bold;
    font-size: 40px;
    margin-top: -10px;
    margin-bottom: -10px;
    border-bottom: 3px solid #ffe321;
    line-height: 2em;

}
.h2 span{
    background: white;
    padding:0 10px;
}

.text1{
    font-family: Calibri;
    font-size: calc(0.35vw + 0.95em);
}
.odkaz{
    font-family: Calibri;
    font-size: calc(0.35vw + 0.95em);
    color: black;
    text-decoration: black;
}
.text-bold{
    font-weight: bold;
    font-family: Calibri;
}


.my-col{

}
.my-col-left{
    text-align: left;
}
.my-col1{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
}
.my-col2{
    background-color: white;
    text-align: center;
    margin: 10px;
    border-radius: 20px;
    border: 2px solid lightgrey;
}

.my-col4{
    background-color: transparent;
    margin: 10px;
}
.my-col6{
    margin: 0 auto;
}
.icons{
    float: inside;
    width: 80%;
    height: 250px;
}

.hodnota{
    text-align: right;
}
.hodnoty{

}
.my-col-left{
    right: 15px;
    top: 10px;
}
.nazev{
    font-family: Calibri;
    font-weight: bold;
    font-size: 17px;
    text-align: left;
}
.nazvy{
    text-align: left;
}
.modely{
    color: black;
    font-family: Calibri;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
}
.odkaz-pic:hover{
    text-decoration: none;
}

.kategorie-nadpis{
    color: black;
}

.nav-link:hover .kategorie-nadpis{
    color: white;
}
.my-row-produkt{

}
.box{

}

.my-row-cena{
    background-color: yellow;
}
.my-row-kategorie{
    background-color: lightgrey;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
}
.my-col2:hover .my-row-kategorie{
    background-color: yellow;
}
.my-col-kategorie1{
    background-color: #ffde11;
}

.cena{
    font-weight: bold;
}
.tlacitko{
    background-color: black;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    display: inline-table;
    font-size: 15px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: all 0.5s ease;
}
.tlacitko:hover{
    background-color: lightgrey;
    color: black;
}
.tlacitko1{
    background-color: #343a40;
    border: none;
    color: white;
    padding: 10px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px;
    border-radius: 10px;
    transition: all 0.5s ease;
}
.tlacitko1:hover{
    background-color: yellow;
    color: black;
}
.tlacitko1:disabled{
    opacity: 0.5;
}
.tlacitko1:enabled{
    opacity: 1;
}
.mb-4{
    margin-top: -50px;
}
.document{
    width: 5%;
    margin-left: 15px;
}
.no-decor{
    color: black;
}
.no-decor:hover{
    text-decoration: none;
    color: black;
}
.koncept{
    width: 47%;
    border-radius: 20px;
}
.my-col5{
    margin-left: 30px;
}
.contactbg{
    background: #5a6268;
    padding-bottom: 1px;
}
#contact{
    margin-top: 80px;
}

#message{
    padding-bottom: 20px;
    width: 540px
}
#obrazek{
    position: relative;
    width: 100%;
    height: 100%;
}
#left{
    text-align: left;
}
#stred{
    text-align: center;
    font-size: calc(0.7vw + 0.63em);
}
#sticky-footer{
    background-color: rgba(0, 0, 0, 0.87);
}
#right{
    text-align: right;
}
@media screen and (max-width: 1080px){
    .md-form1{
        position: absolute;
        width: 300px;
    }
    .my-col2{
        max-width: 500px;
        margin: 10px auto;
    }
    .my-row3{

    }
    .nazvy{
        font-size: 20px;
    }
    .modely{
        font-size: 40px;
    }
    .hodnota{
        font-size: 20px;
    }
    .koncept{
        width: 100%;
    }
    .tool-tip {
        display: inline-block;
    }

    .tool-tip [disabled] {
        pointer-events: none;
    }
}

@media screen and (max-width: 1200px){
    #message{
        width: 450px;
    }
}

@media screen and (max-width: 768px){
    #message{
        position: relative;
        top: 125px;
        padding-bottom: 0;
        width: calc(80vw + 3.2rem);
    }
    .my-row-send-contact{
        margin-top: 70px;
    }
}

@media screen and (max-width: 600px){
    .row-button{
        text-align: center;

    }
    .tlacitko1{
        position: absolute;
        right: -15px;
    }
    .tlacitko {

    }
    .text-gdpr{
        font-size: 10px;
        font-family: Calibri;
    }
    .gdpr{
        font-size: 10px;
        font-family: Calibri;
    }
    .my-col3{
        width: 2px;
    }
}